# numpy连接

In [1]:
import numpy as np

In [2]:
a_1=np.array([[1,2],[3,4]])
a_2=np.array([[5,6],[7,8]])
#0轴连接
print(np.concatenate((a_1,a_2),axis=0))
#1轴连接
print(np.concatenate((a_1,a_2),axis=1))
#默认连接
print(np.concatenate((a_1,a_2)))

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
[[1 2 5 6]
 [3 4 7 8]]
[[1 2]
 [3 4]
 [5 6]
 [7 8]]

# 堆叠stack

In [3]:
#和连接差不多
print(np.vstack((a_1,a_2)))
#0轴
print(np.hstack((a_1,a_2)))
#1轴

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
[[1 2 5 6]
 [3 4 7 8]]

# 分割

In [4]:
a=np.arange(4).reshape(2,2)
a

array([[0, 1],
       [2, 3]])

In [5]:
a_1=np.split(a,2,axis=0)
#括号中数字指的拆成几份
a_1

[array([[0, 1]]), array([[2, 3]])]

In [6]:
a_2=np.split(a,2,axis=1)
a_2

[array([[0],
        [2]]),
 array([[1],
        [3]])]

In [7]:
a_3=np.vsplit(a,2)
a_3

[array([[0, 1]]), array([[2, 3]])]

In [8]:
a_4=np.hsplit(a,2)
a_4

[array([[0],
        [2]]),
 array([[1],
        [3]])]

# 转置

In [9]:
a=np.arange(12).reshape(2,6)
a

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11]])

In [10]:
a_1=np.transpose(a)
a_1

array([[ 0,  6],
       [ 1,  7],
       [ 2,  8],
       [ 3,  9],
       [ 4, 10],
       [ 5, 11]])

In [11]:
a_2=a.T
a_2

array([[ 0,  6],
       [ 1,  7],
       [ 2,  8],
       [ 3,  9],
       [ 4, 10],
       [ 5, 11]])

In [12]:
a_3=a.swapaxes(1,0)
a_3

array([[ 0,  6],
       [ 1,  7],
       [ 2,  8],
       [ 3,  9],
       [ 4, 10],
       [ 5, 11]])

In [13]:
b=np.arange(18).reshape((3,2,3))
b

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17]]])

In [14]:
b_1=b.swapaxes(1,0)
b_1

array([[[ 0,  1,  2],
        [ 6,  7,  8],
        [12, 13, 14]],

       [[ 3,  4,  5],
        [ 9, 10, 11],
        [15, 16, 17]]])

# pandas

## read_csv

In [15]:
import pandas as pd

In [16]:
fpath='./data/spider.csv'

In [17]:
df=pd.read_csv(fpath,header=None,names=['data','url','title','val1','val2'],index_col='data',usecols=['data','url','title'])
df

,url,title
data,,
2015-4-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌
2015-8-24,http://www.apinpai.com/,我;张国荣;80;励志
2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...
2015-4-2,http://bj.qu114.com/,my way;张敬轩;90;励志
2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...
...,...,...
2015-7-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志
2015-4-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感
2015-4-2,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志
2015-4-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志
2015-5-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感

In [18]:
df=pd.read_csv(fpath,header=None,names=['data','url','title','val1','val2'])
df

,data,url,title,val1,val2
0,2015-4-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌,216.0,1392.68
1,2015-8-24,http://www.apinpai.com/,我;张国荣;80;励志,273.0,1447.17
2,2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...,NaN,NaN
3,2015-4-2,http://bj.qu114.com/,my way;张敬轩;90;励志,52.0,337.27
4,2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...,NaN,NaN
...,...,...,...,...,...
1391,2015-7-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志,87.0,927.30
1392,2015-4-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感,31.0,684.56
1393,2015-4-2,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志,47.0,1419.74
1394,2015-4-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志,124.0,1434.67
1395,2015-5-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感,103.0,1020.50

In [19]:
df=pd.read_csv(fpath,header=None)
df

,0,1,2,3,4
0,2015-4-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌,216.0,1392.68
1,2015-8-24,http://www.apinpai.com/,我;张国荣;80;励志,273.0,1447.17
2,2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...,NaN,NaN
3,2015-4-2,http://bj.qu114.com/,my way;张敬轩;90;励志,52.0,337.27
4,2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...,NaN,NaN
...,...,...,...,...,...
1391,2015-7-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志,87.0,927.30
1392,2015-4-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感,31.0,684.56
1393,2015-4-2,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志,47.0,1419.74
1394,2015-4-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志,124.0,1434.67
1395,2015-5-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感,103.0,1020.50

In [20]:
filepath='./data/student.xlsx'
df1=pd.read_excel(filepath)
df1

   姓名 性别  班级         生日   身高
0  小红  女   1 1992-01-01  160
1  大红  女   2 1993-01-01  161
2  小明  男   1 1992-02-01  180
3  大明  男   1 1992-03-01  180
4  小亮  男   2 1993-01-01  170

In [21]:
filepath1='./data/saleinfo_month.xls'
df_1=pd.read_excel(filepath1)
df_1

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

# series数据

In [22]:
#创建series(注意s为大写S)
s=pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [23]:
type(s)

pandas.core.series.Series

In [24]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [25]:
s.values

array([1, 2, 3], dtype=int64)

In [26]:
s=pd.Series([1,2,3],index=['one','two','three'])
s

one      1
two      2
three    3
dtype: int64

In [27]:
s=pd.Series({'name':'张三','sex':'男','email':'dahsdaj@qq.com'})
s

name                 张三
sex                   男
email    dahsdaj@qq.com
dtype: object

In [28]:
s['sex']

'男'

# dataframe

In [29]:
data={
    '姓名':['张三','李四','王老五','赵六','谢谢'],
    '年龄':[20,30,40,50,60],
    '工资':[6000,6000,6000,6000,6000]
}

In [30]:
type(data)

dict

In [31]:
df=pd.DataFrame(data)
df

    姓名  年龄    工资
0   张三  20  6000
1   李四  30  6000
2  王老五  40  6000
3   赵六  50  6000
4   谢谢  60  6000

In [32]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [33]:
df.values

array([['张三', 20, 6000],
       ['李四', 30, 6000],
       ['王老五', 40, 6000],
       ['赵六', 50, 6000],
       ['谢谢', 60, 6000]], dtype=object)

In [34]:
df.columns

Index(['姓名', '年龄', '工资'], dtype='object')

In [35]:
df.columns=['usernumes','age','sal']
df

  usernumes  age   sal
0        张三   20  6000
1        李四   30  6000
2       王老五   40  6000
3        赵六   50  6000
4        谢谢   60  6000

## 从dataframe中查询出sries

In [36]:
filepath1='./data/saleinfo_month.xls'
df_1=pd.read_excel(filepath1)
df_1

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [37]:
type(df_1)

pandas.core.frame.DataFrame

In [38]:
df_1[['series','brand']]

     series brand
0        德系    奔驰
1        德系    奔驰
2        德系    奔驰
3        德系    奔驰
4        德系    宝马
...     ...   ...
1862     自主    哈弗
1863     自主    哈弗
1864     自主    哈弗
1865     自主    哈弗
1866     自主    哈弗

[1867 rows x 2 columns]

In [39]:
type(df_1[['series','brand']])

pandas.core.frame.DataFrame

In [40]:
df_1[['carprice']]

      carprice
0           33
1           49
2           41
3           53
4           36
...        ...
1862        10
1863        13
1864        13
1865        19
1866        24

[1867 rows x 1 columns]

In [41]:
type(df_1[['carprice']])

pandas.core.frame.DataFrame

In [42]:
df_1.loc[1]

series              德系
manufacture       北京奔驰
cartype            SUV
brand               奔驰
carclass         奔驰GLC
carlevel            中型
carprice            49
stat_month      202001
quantity         10535
revenue         516215
profit         92918.7
Name: 1, dtype: object

In [43]:
type(df_1.loc[1])

pandas.core.series.Series

In [44]:
df_1.loc[3:8]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.3
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.7
5,德系,华晨宝马,轿车,宝马,宝马2系,紧凑,28,202001,1060,29680,7420.0
6,德系,华晨宝马,轿车,宝马,宝马3系,中型,39,202001,11477,447603,93996.6
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
8,德系,上汽大众,SUV,大众,途观,紧凑,26,202001,23538,611988,159117.0

In [45]:
type(df_1.loc[3:8])

pandas.core.frame.DataFrame

# pandas数据查询

Pandas查询数据的几种方法
1. df.loc方法,根据行、列的标签值查询
2. df.iloc方法，根据行、列的数字位置查询
3. df.where方法
4. df.query方法
.loc既能查询，又能覆盖写入，强列推荐！

# df.loc

In [46]:
df_1

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [47]:
df_1.loc[2,'carprice']

41

In [48]:
df_1.loc[3]

series              德系
manufacture       北京奔驰
cartype             轿车
brand               奔驰
carclass          奔驰E级
carlevel           中大型
carprice            53
stat_month      202001
quantity          9133
revenue         484049
profit         91969.3
Name: 3, dtype: object

In [49]:
df_1.loc[3,['series','cartype','carprice']]

series      德系
cartype     轿车
carprice    53
Name: 3, dtype: object

In [50]:
df_1.loc[0:4,'cartype']

0    SUV
1    SUV
2     轿车
3     轿车
4    SUV
Name: cartype, dtype: object

In [51]:
df_1.loc[[1,3,5],'cartype']

1    SUV
3     轿车
5     轿车
Name: cartype, dtype: object

In [52]:
df_1.loc[[1,3,5],['cartype','carprice']]

  cartype  carprice
1     SUV        49
3      轿车        53
5      轿车        28

In [53]:
#根据需求找出目标项目
#df_1.loc[条件，：]
df_1.loc[df_1['series']=='德系',:]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.2
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.7
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.0
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.3
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.7
...,...,...,...,...,...,...,...,...,...,...,...
1759,德系,一汽大众,轿车,大众,宝来,紧凑,9,201901,16848,151632,15163.2
1760,德系,一汽大众,轿车,大众,高尔夫,紧凑,13,201901,22874,297362,41630.7
1761,德系,一汽大众,轿车,大众,捷达,紧凑,8,201901,35254,282032,53586.1
1762,德系,一汽大众,轿车,大众,迈腾,中型,25,201901,17151,428775,51453.0
1763,德系,一汽大众,轿车,大众,速腾,紧凑,16,201901,31253,500048,110011.0

In [54]:
df_1.loc[(df_1['series']=='德系')&(df_1['carprice']>=40)&(df_1['cartype']=='SUV'),:]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.7
18,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,202001,13087,602002,180601.0
154,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,201912,10391,509159,91648.6
170,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201912,6998,321908,41848.0
310,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,201911,6705,328545,32854.5
326,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201911,12592,579232,127431.0
466,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201910,6930,325710,52113.6
482,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201910,11176,514096,56550.6
621,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201909,7000,329000,49350.0
637,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201909,11534,530564,132641.0
771,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201908,9551,448897,76312.5
786,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201908,11371,523066,115075.0
913,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201907,8083,379901,94975.2
928,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201907,10849,499054,124764.0
1057,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201906,8300,390100,58515.0
1073,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201906,9924,456504,127821.0
1199,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201905,7254,340938,64778.2
1214,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201905,10708,492568,88662.2
1339,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201904,6869,322843,35512.7
1354,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201904,11489,528494,105699.0
1478,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201903,4711,221417,30998.4
1493,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201903,11840,544640,163392.0
1612,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201902,5500,258500,51700.0
1626,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201902,8697,400062,92014.3
1740,德系,北京奔驰,SUV,奔驰,奔驰GLK,中型,47,201901,6006,282282,33873.8
1754,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201901,12275,564650,152456.0

# lambda

In [55]:
def add(x,y):
    return x+y
print(add(3,4))

7

In [56]:
add=lambda x,y:x+y
print(add(3,4))

7

In [57]:
df_1

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [58]:
df_1.loc[lambda df_1:df_1['carprice']>60,['brand','carprice','stat_month']]

     brand  carprice  stat_month
7       宝马        61      202001
160     宝马        61      201912
316     宝马        61      201911
472     宝马        61      201910
627     宝马        61      201909
777     宝马        61      201908
919     宝马        61      201907
1063    宝马        61      201906
1205    宝马        61      201905
1345    宝马        61      201904
1484    宝马        61      201903
1617    宝马        61      201902
1745    宝马        61      201901

# df.query方法

In [59]:
df_1

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [60]:
df_1.query("carprice>60")

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

In [61]:
'''
    一个或多个条件下过滤，query（）的语法都保持不变
    但是需要指定两个或多个条件进行过滤的方式
    and：回在满足两个条件的所有记录
    or：返回满足任意条件的所有记录
'''
df_1.query("brand=='宝马' and carprice>40 ")

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

表示否定的词语
not关键词
!=

In [62]:
df_1.query("not(carprice<60)")

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

日期时间过滤
使用query（）函数在日期时间值上进行查询的唯一要求是，包含这些值的列（一竖行）应为数据类型datatime64[ns]
示例数据中，我们看到的列是日期时间，但是我们电脑通过路径解析是字符串，所以需要对其进行转换后解析：
df["字段"]=pd.to_datetime(df["字段"],format="%Y-%m-%D")

In [63]:
fpath="./data/spider.csv"

In [64]:
df = pd.read_csv(fpath,header=None,names=
['date1','url','title','val1','val2'],usecols=['date1','url','title'])
df

,date1,url,title
0,2015-4-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌
1,2015-8-24,http://www.apinpai.com/,我;张国荣;80;励志
2,2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...
3,2015-4-2,http://bj.qu114.com/,my way;张敬轩;90;励志
4,2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...
...,...,...,...
1391,2015-7-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志
1392,2015-4-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感
1393,2015-4-2,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志
1394,2015-4-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志
1395,2015-5-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感

In [65]:
df["date1"] = pd.to_datetime(df["date1"], format="%Y-%m-%d")

In [66]:
df.query("date1.dt.month == 5")

          date1                           url              title
5    2015-05-28      http://www.favolist.com/        屋顶;温岚;80;励志
22   2015-05-31     http://www.alifenfen.com/   忘记拥抱;a-lin;80;伤感
29   2015-05-01          http://www.010y.com/  一起走过的日子;刘德华;80;伤感
37   2015-05-15          http://www.jieu.com/     数鸭子;少儿歌曲;90;儿歌
45   2015-05-14             http://bj.454.cn/   my way;张敬轩;90;励志
...         ...                           ...                ...
1375 2015-05-15      http://www.favolist.com/    匿名的好友;杨丞琳;90;伤感
1377 2015-05-10          http://www.010y.com/    感恩的心;欧阳菲菲;90;励志
1382 2015-05-07       http://www.qiyi123.com/   忘记拥抱;a-lin;80;伤感
1383 2015-05-17  http://beijing.hand2hand.cn/     同道中人;张国荣;80;励志
1395 2015-05-16      http://www.favolist.com/     最冷一天;陈奕迅;90;伤感

[205 rows x 3 columns]

In [67]:
df.query("date1.dt.day == 20")

,date1,url,title
25,2015-04-20,http://www.favolist.com/,story of my life;bon jovi;90;励志
98,2015-07-20,http://www.wuhan58.com/index.php,感恩的心;欧阳菲菲;90;励志
106,2015-04-20,http://www.apinpai.com/,一起走过的日子;刘德华;80;伤感
156,2015-12-20,http://www.movie.com/dor/,《百团大战》;2015.8.28;2015.10.11;八一电影制片厂；中国电影股份有限公司...
167,2015-08-20,http://bj.454.cn/,无悔这一生;beyond;80;励志
169,2015-12-20,http://www.movie.com/dor/,《简单爱》;2015.7.3;2015.7.19;中视合利（北京）文化投资有限公司一鸣影业公...
190,2015-12-20,http://www.movie.com/bor/,《闯入者》;2015.4.30;2015.5.24;冬春文化、银润传媒、合润传媒、安乐电影、...
217,2015-12-20,http://www.movie.com/dor/,《将错就错》;2015.3.5;2015.3.29;中国电影股份有限公司等;王宁;小沈阳，田...
223,2015-06-20,http://www.favolist.com/,一起走过的日子;刘德华;80;伤感
271,2015-08-20,http://www.qiyi123.com/,加油;林俊杰/mc hotdog;90;励志
332,2015-07-20,http://www.alifenfen.com/,星;邓丽君;80;励志
371,2015-07-20,http://bj.qu114.com/,借我;谢春花;90;伤感
372,2015-08-20,http://www.wanxn.com/,壮志雄心;李克勤;90;励志
378,2015-08-20,http://www.denghuo.com/,空壳;陈慧敏;90;伤感
423,2015-03-20,http://beijing.faxinxi.cn/,我心是海洋;蔡琴;80;励志
436,2015-05-20,http://www.ezxun.com/,匿名的好友;杨丞琳;90;伤感
462,2015-06-20,http://www.wuhan58.com/index.php,太阳星辰;张学友;80;励志
511,2015-04-20,http://www.qudee.com/,爱让世界更美;童安格;90;励志
582,2015-05-20,http://www.mouxiao.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌
659,2015-03-20,http://info.tianya.cn,借过;容祖儿;90;伤感
682,2015-06-20,http://www.jieu.com/,来来回回;陈楚生&spy.c;90;伤感
705,2015-12-20,http://www.movie.com/dor/,《浪漫天降》;2015.10.23;2015.11.8;;宁瀛;夏雨，关晓彤，邱泽;浪漫，爱...
710,2015-06-20,http://www.yifawang.cn/,我;张国荣;80;励志
766,2015-06-20,http://beijing.hand2hand.cn/,太阳星辰;张学友;80;励志
780,2015-07-20,http://bj.454.cn/,光辉岁月;beyond;80;励志
847,2015-04-20,http://bj.qu114.com/,屋顶;温岚;80;励志
852,2015-08-20,http://www.waaku.com/,数鸭子;少儿歌曲;90;儿歌
898,2015-08-20,http://www.wanxn.com/,借过;容祖儿;90;伤感
902,2015-05-20,http://www.qiyi123.com/,忘记拥抱;a-lin;80;伤感
969,2015-12-20,http://www.movie.com/bor/12386／,《少年班》;2015.6.19;2015.7.19;工夫影业；华谊兄弟;肖洋;孙红雷，周冬雨...
1019,2015-06-20,http://beijing.faxinxi.cn/,借过;容祖儿;90;伤感
1095,2015-07-20,http://www.apinpai.com/,一起走过的日子;刘德华;80;伤感
1097,2015-04-20,http://www.ezxun.com/,太阳星辰;张学友;80;励志
1113,2015-05-20,http://www.010y.com/,无悔这一生;beyond;80;励志
1119,2015-08-20,http://www.99inf.com/,忘记拥抱;a-lin;80;伤感
1190,2015-03-20,http://www.qudee.com/,我心是海洋;蔡琴;80;励志
1216,2015-03-20,http://www.alifenfen.com/,我心是海洋;蔡琴;80;励志
1257,2015-06-20,http://www.qiyi123.com/,无悔这一生;beyond;80;励志
1260,2015-04-20,http://www.yifawang.cn/,拔萝卜;小蓓蕾组合;90;儿歌
1336,2015-12-20,http://www.movie.com/bor/,《全能_爸》;2015.3.5;2015.3.22;河南弘星、北京弘星、杭州寰耀;董春泽;罗...
1346,2015-07-20,http://www.apinpai.com/,我;张国荣;80;励志
1363,2015-05-20,http://www.favolist.com/,像我一样骄傲;赵传;80;励志
1381,2015-06-20,http://beijing.faxinxi.cn/,借我;谢春花;90;伤感
1390,2015-07-20,http://www.ezxun.com/,空壳;陈慧敏;90;伤感
1392,2015-04-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感

# pandas怎样新增数列

1.直接赋值
2.df.apply方法
3.df.assign方法
4.按条件选择分组分别赋值

# 直接赋值

In [68]:
#示例，清理温度列，变成数字类型
import pandas as pd
df=pd.read_csv("./data/beijing_tianqi_2018.csv")
df

            ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0    2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1    2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2    2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3    2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4    2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1
..          ...    ...    ...    ...       ...    ...  ...     ...       ...
360  2018-12-27    -5℃   -12℃   多云~晴       西北风     3级   48       优         1
361  2018-12-28    -3℃   -11℃      晴       西北风     3级   40       优         1
362  2018-12-29    -3℃   -12℃      晴       西北风     2级   29       优         1
363  2018-12-30    -2℃   -11℃   晴~多云       东北风     1级   31       优         1
364  2018-12-31    -2℃   -10℃     多云       东北风     1级   56       良         2

[365 rows x 9 columns]

In [69]:
#清除后缀℃
df.loc[:,"bWendu"]=df["bWendu"].str.replace("℃","").astype('int32')
df.loc[:,"yWendu"]=df["yWendu"].str.replace("℃","").astype('int32')
df

            ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0    2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1    2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2    2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3    2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4    2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1
..          ...     ...     ...    ...       ...    ...  ...     ...       ...
360  2018-12-27      -5     -12   多云~晴       西北风     3级   48       优         1
361  2018-12-28      -3     -11      晴       西北风     3级   40       优         1
362  2018-12-29      -3     -12      晴       西北风     2级   29       优         1
363  2018-12-30      -2     -11   晴~多云       东北风     1级   31       优         1
364  2018-12-31      -2     -10     多云       东北风     1级   56       良         2

[365 rows x 9 columns]

In [70]:
#计算温差
df.loc[:,"Wencha"]=df["bWendu"]-df["yWendu"]
df

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,Wencha
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9
...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8

In [71]:
df.head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,Wencha
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9

# df.apply方法

实例：添加一列温度类型：
1. 如果最高温度大于33度就是高温
2. 低于-10度是低温
3. 否则是常温

In [72]:
#添加一个判断函数
def get_wendu_type(x):
    if x["bWendu"]>33:
        return '高温'
    if x["yWendu"]<-10:
        return '低温'
    return '常温'

In [73]:
df.loc[:,"wendu_type"]=df.apply(get_wendu_type,axis=1)
df

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,Wencha,wendu_type
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,常温
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,常温
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,常温
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,常温
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,常温
...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7,低温
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8,低温
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9,低温
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9,低温
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8,常温

# df.assign方法

In [74]:
df.assign(
    yWendu_huashi=lambda x:x["yWendu"]*9/5+32,
    bWendu_huashi=lambda x:x["bWendu"]*9/5+32
)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,Wencha,wendu_type,yWendu_huashi,bWendu_huashi
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,常温,21.2,37.4
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,常温,23.0,35.6
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,常温,23.0,35.6
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,常温,17.6,32.0
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,常温,21.2,37.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7,低温,10.4,23.0
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8,低温,12.2,26.6
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9,低温,10.4,26.6
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9,低温,12.2,28.4
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8,常温,14.0,28.4

# 按条件选择分组分别赋值

In [75]:
df['wencha_type']=''
df

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,Wencha,wendu_type,wencha_type
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,常温,
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,常温,
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,常温,
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,常温,
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,常温,
...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7,低温,
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8,低温,
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9,低温,
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9,低温,
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8,常温,

In [76]:
df.loc[df["bWendu"]-df["yWendu"]>10,"wencha_type"]="温差大"
df.loc[df["bWendu"]-df["yWendu"]<=10,"wencha_type"]="温差小"
df

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,Wencha,wendu_type,wencha_type
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,常温,温差小
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,常温,温差小
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,常温,温差小
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,常温,温差小
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,常温,温差小
...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7,低温,温差小
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8,低温,温差小
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9,低温,温差小
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9,低温,温差小
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8,常温,温差小

In [77]:
df["wencha_type"].value_counts()

温差小    187
温差大    178
Name: wencha_type, dtype: int64

# pandas数据统计函数

1.汇总类统计
2.唯一去重和按值计数
3.相关系数和协方差

In [78]:
#汇总
df.describe()

           bWendu      yWendu         aqi    aqiLevel      Wencha
count  365.000000  365.000000  365.000000  365.000000  365.000000
mean    18.665753    8.358904   82.183562    2.090411   10.306849
std     11.858046   11.755053   51.936159    1.029798    2.781233
min     -5.000000  -12.000000   21.000000    1.000000    2.000000
25%      8.000000   -3.000000   46.000000    1.000000    8.000000
50%     21.000000    8.000000   69.000000    2.000000   10.000000
75%     29.000000   19.000000  104.000000    3.000000   12.000000
max     38.000000   27.000000  387.000000    6.000000   18.000000

In [79]:
df['bWendu'].max()

38

In [80]:
df.loc[:,'bWendu'].min()

-5

In [81]:
df['bWendu'].mean()
#平均值

18.665753424657535

In [82]:
df['bWendu'].std()
#标准差

11.858045666421837

唯一去重和按值计算

In [83]:
#唯一去重
df['fengxiang'].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

In [84]:
df['tianqi'].unique()

array(['晴~多云', '阴~多云', '多云', '阴', '多云~晴', '多云~阴', '晴', '阴~小雪', '小雪~多云',
       '小雨~阴', '小雨~雨夹雪', '多云~小雨', '小雨~多云', '大雨~小雨', '小雨', '阴~小雨',
       '多云~雷阵雨', '雷阵雨~多云', '阴~雷阵雨', '雷阵雨', '雷阵雨~大雨', '中雨~雷阵雨', '小雨~大雨',
       '暴雨~雷阵雨', '雷阵雨~中雨', '小雨~雷阵雨', '雷阵雨~阴', '中雨~小雨', '小雨~中雨', '雾~多云',
       '霾'], dtype=object)

In [85]:
df['fengli'].unique()

array(['1-2级', '4-5级', '3-4级', '2级', '1级', '3级'], dtype=object)

In [86]:
#按值计数
df['fengli'].value_counts()

1-2级    236
3-4级     68
1级       21
4-5级     20
2级       13
3级        7
Name: fengli, dtype: int64

In [87]:
df['tianqi'].value_counts()

晴         101
多云         95
多云~晴       40
晴~多云       34
多云~雷阵雨     14
多云~阴       10
雷阵雨         8
小雨~多云       8
阴~多云        8
雷阵雨~多云      7
小雨          6
多云~小雨       5
阴           4
雷阵雨~中雨      4
中雨~小雨       2
中雨~雷阵雨      2
阴~小雨        2
霾           2
大雨~小雨       1
阴~雷阵雨       1
小雨~雨夹雪      1
雷阵雨~大雨      1
小雨~阴        1
小雨~大雨       1
暴雨~雷阵雨      1
小雪~多云       1
小雨~雷阵雨      1
雷阵雨~阴       1
阴~小雪        1
小雨~中雨       1
雾~多云        1
Name: tianqi, dtype: int64

相关系数和协方差
用途（超级厉害）
1. 两只股票，是不是同涨同跌？程度多大？正相关还是负相关？
2. 产品销量的波动，跟哪些因素正相关、负相关，程度有多大？
来自知乎，对于两个变量x、y:
3. 协方差：衡量同向反向程度，如果协方差为正，说明x,y同向变化，协方差越大说明同向程度越高;
如果协方差为负，说明x,y反向运动，协方差越小说明反向程度越高
4. 相关系数： 衡量相似度程度，当他们的相关系数为1时，说明两个变量变化时的正向相似度最大，
当相关系数为-1时，说明两个变量变化的反向相似度最大

In [100]:
#协方差矩阵
df.cov()
#如aqiLevel空气指数等级与其他bWendu,yWendu,wencha的协方差不大，但为正，说明正相关，但影
#响不大

              bWendu      yWendu          aqi   aqiLevel     Wencha
bWendu    140.613247  135.529633    47.462622   0.879204   5.083614
yWendu    135.529633  138.181274    16.186685   0.264165  -2.651641
aqi        47.462622   16.186685  2697.364564  50.749842  31.275937
aqiLevel    0.879204    0.264165    50.749842   1.060485   0.615038
Wencha      5.083614   -2.651641    31.275937   0.615038   7.735255

In [ ]:
#相关系数矩阵
df.corr()
#如aqi空间指数与bWendu和yWendu相关系数小，说明相关影响不大，但与aqiLevel相关系数大，因为
#他们一定有运算关系，影响较大

In [89]:
df["aqi"].corr(df["bWendu"])

0.07706705916811069

# 缺失值处理

In [90]:
#检测是否为空
studf=pd.read_excel("./data/缼失值处理.xlsx",skiprows=2)
#跳过前两行
studf

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

In [91]:
#检测空值
studf.isnull()

    Unnamed: 0     姓名     科目     分数
0         True  False  False  False
1         True   True  False  False
2         True   True  False  False
3         True   True   True   True
4         True  False  False  False
5         True   True  False   True
6         True   True  False  False
7         True   True   True   True
8         True  False  False  False
9         True   True  False  False
10        True   True  False  False

In [92]:
#检测某一列
studf["分数"].isnull()

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10    False
Name: 分数, dtype: bool

In [93]:
studf["分数"].notnull()

0      True
1      True
2      True
3     False
4      True
5     False
6      True
7     False
8      True
9      True
10     True
Name: 分数, dtype: bool

In [94]:
#筛选没有空分数的所有行
studf.loc[studf["分数"].notnull(),:]

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

In [95]:
studf.loc[~studf["分数"].notnull(),:]

   Unnamed: 0   姓名   科目  分数
3         NaN  NaN  NaN NaN
5         NaN  NaN   数学 NaN
7         NaN  NaN  NaN NaN

# 删除全是空的列

In [96]:
studf.dropna(axis='columns',how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
studf.dropna(axis='columns',how='all')

     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   NaN
4    小王   语文  85.0
5   NaN   数学   NaN
6   NaN   英语  90.0
7   NaN  NaN   NaN
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0

In [98]:
studf

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

In [102]:
studf.dropna(axis='columns',how='all',inplace=True)

In [103]:
studf

     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   NaN
4    小王   语文  85.0
5   NaN   数学   NaN
6   NaN   英语  90.0
7   NaN  NaN   NaN
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0

In [104]:
studf.dropna(axis='index',how='all',inplace=True)
#删除都为空的行

In [105]:
studf

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   NaN
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [106]:
studf.fillna({"分数":0})

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [107]:
studf

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   NaN
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [108]:
studf.loc[:,'分数']=studf['分数'].fillna(0)

In [109]:
studf

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [ ]:
studf.loc[:,'姓名']=